* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: rgb(102, 183, 189); */
  background-color: rgb(68, 84, 138);
}
/* .App {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
